Source: x11proto-xext
Section: libdevel
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Uploaders: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 7), autoconf, automake, xorg-util-macros (>= 1.10)
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, xorg-util-macros (>= 1.10)
Standards-Version: 3.8.3

Package: x11proto-xext-dev
Architecture: all
Depends: ${misc:Depends}, x11proto-input-dev
Pre-Depends: x11-common (>= 1:7.0.0)
Description: X11 various extension wire protocol
 This package provides development headers describing the wire protocol
 for various extensions, the client-side libraries of which are provided
 in the Xext library.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This package is built from the X.org xextproto proto module.
